<!-- <h1>Build Your Profile</h1>
<div class="graph">
	<h2>Health vitals</h2>
	<div class="circle"></div>
</div>
<div class="graph">
	<h2>LifeStyle</h2>
	<div class="circle"></div>
</div>
<div class="graph">
	<h2>Genomics</h2>
	<div class="circle"></div>
</div> -->
<!-- <div class="container-fluid" style="margin-top:25px;background-color:white;border:1px solid #f1f1f1;border-radius:10px;">
  <div class="row">
    <div class="col-xs-12">
      <h1 style="text-align: center;">Build Your Profile</h1>
      <div class="flexing">
        <div class="col-sm-3" (click)="navigateTo('health-vitals')">
          <h2 style="text-align: center;">Health vitals</h2>
          <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
        </div>
        <div class="col-sm-3" (click)="navigateTo('lifestyle')">
          <h2 style="text-align: center;">Lifestyle</h2>
          <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
        </div>
        <div class="col-sm-3" (click)="navigateTo('genomics')">
          <h2 style="text-align: center;">Genomics</h2>
          <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
        </div>
      </div>
      
    </div>
  </div>
  
</div> -->

<div style="margin-bottom:10px;">
    <div class="col-sm-10 col-md-10 col-lg-10" style="background-color:white;border:1px solid #f1f1f1;border-radius:10px;">
        <div class="row"><h1 style="font-size: 25px;text-align:center;">Link your genomics report  & track your digital health parameters related to recommendations for 
          susceptible disease</h1></div>
        <div class="row"><button type="button" style="margin: 5px;" (click)="navigateTo('genomics')" class="btn btn-primary btn-md pull-right">Let's begin the wellness journey</button></div>
    </div>
</div>
