/*
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}*/


.example-container {
    position: fixed;
    /* top: 60px;
    bottom: 60px; */
    /* position: fixed; */
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: hidden;
    width:100%;
  }

.sidenav {
  /* display: flex; */
  /* height: 100%; */
  display: block;
  width: 270px;
  /*background: rgba(82, 80, 80, 0.5);*/
  background: #7f7f7f;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
  .picture-element {
    /* position: relative; */
    margin: 50px auto;
    width: 100px;
    margin-bottom:10px;
  }
  .picture {
      /* position: absolute; */
      /* top: 75px;
      left: 125px; */
      
      border-radius: 50%;
      border: 2px solid black;
      width: 100px;
  }
  h4{
    text-align: center;
    padding: 0;
    margin: 0;
    /* top: 150px; */
  }
  hr {
      margin: auto;
      width: 65%;
  }

 
  li {
      list-style-type: none;
  }
  .routedcompo{ 
      text-align: center;
      /* display: flex;
      flex-direction: column;
      align-items: center; */
      margin: 0 auto;
      padding-top: 20px;
  }
  .btmborder {
      padding: 5px;
      margin: 5px;
      /* border-bottom: 1px solid white; */
  }
  .content{
    width: 100%;
  }
