<div>
  <div class="col-sm-10 col-md-10 col-lg-10" style="background-color:white;border:1px solid #f1f1f1;border-radius:10px;margin-bottom:25px;">
    <h3>
      <strong>Lifestyle data from wellness platform</strong>
    </h3>
    <div class="col-sm-6">
      <div class="row" style="margin:10px;">
        <div class="col-sm-4">
          Selected wellness platform
        </div>
        <div class="col-sm-8">
          <select class="form-control" id="sel1">
            <option>Select</option>
            <option>Google Fit</option>
            <option>Fitbit</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row" style="margin:10px;">
        <div class="col-sm-4">
          Google Username
        </div>
        <div class="col-sm-4">
          <input class="form-control" type="text">
        </div>
        <div class="col-sm-4">
          <button [disabled]="!enableLinkMyReport" class="btn btn-primary btn-sm">Link my data</button>
        </div>
      </div>
      <div class="row" style="margin:10px;">
        <label class="checkbox-inline">
          <input #linkReportCheckBox type="checkbox" (change)="chk_LinkMyreport(linkReportCheckBox.checked);"> Here by I authorize to redirect to Providers website for authorizations.
        </label>
      </div>
    </div>
  </div>
</div>

<div style="margin-bottom:10px;">
  <div class="col-sm-10 col-md-10 col-lg-10" style="background-color:white;border:1px solid #f1f1f1;border-radius:10px;margin-bottom:25px;">
    <div class="col-sm-6">
      <div class="row" style="margin:10px;">
        <div class="col-sm-4">
          <strong>Record Activity for the day</strong>
        </div>
        <div class="col-sm-8">
          <input type="date" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Step Count
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option><5000 steps/day</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Smoking Status
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>Non smoking : 0 cigarette</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Exercise engagement time
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>Low <15 mins/day</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Water Intake
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>6 Glassess</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      &nbsp;
    </div>
    <div class="col-sm-6">
      <div class="row" style="margin:10px;">
        <div class="col-sm-4">
          &nbsp;
        </div>
        <div class="col-sm-8" style="text-align:right;">
          <button class="btn btn-primary btn-sm">Save my data</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-bottom:10px;">
  <div class="col-sm-10 col-md-10 col-lg-10" style="background-color:white;border:1px solid #f1f1f1;border-radius:10px;margin-bottom:25px;">
    <div class="col-sm-6">
      <div class="row" style="margin:10px;">
        <div class="col-sm-4">
          <strong>Record diet for the day</strong>
        </div>
        <div class="col-sm-8">
          <input type="date" class="form-control" />
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <strong>Rich in sugar</strong>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <strong>High Fiber</strong>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <strong>High in saturated fats</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Honey
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>100ml</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Fruits (Apple/Banana)
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>2 piece</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Pork
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>80gms</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Candy,toffee
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>1 piece</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Vegetables (Beans,Spinach, Sprouts)
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>300gms</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Beef
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>0 gms</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Cream cake, pastries
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>1 piece</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Canned meat
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>20 gms</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row" style="margin:10px;">
          <div class="col-sm-4">
            Soft drinks
          </div>
          <div class="col-sm-8">
            <select class="form-control" id="sel1">
              <option>Select</option>
              <option>250 ml</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="text-align:right;">
      <div class="row" style="margin:10px;margin-right:28px;">
        <button type="button" class="btn btn-primary btn-sm">Save my data</button>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="col-sm-10 col-md-10 col-lg-10" style="background-color:white;border:1px solid #f1f1f1;border-radius:10px;margin-bottom:25px;text-align:right;margin-right:25px;">
    <button type="button" routerLink="/wellness" class="btn btn-primary btn-lg">Track my Progress</button>
  </div>
</div>
