<div style="margin-bottom:10px;">
    <div class="col-sm-10 col-md-10 col-lg-10" style="margin-bottom:25px;">
<ng-container *ngIf="showComponent()">
  <div class="wellness_page">
  <h2>Advisory overview</h2>
  <div class="left_pane">
    <p>Recommended Ideal Index</p>
    <title>Health vitals</title>
    <ul>
      <li>Blood Pressure - Normal : &lt;120 | &lt;80</li>
      <li>Blood glucose - Normal : &lt; 100 mg/dl</li>
      <li>Triglyceride - Ideal: &lt;150 mg/dl</li>
      <li>HDL Cholesterol - Normal&lt;40-59 mg/dl</li>
      <li>BMI - Normal weight: 18.5 - 24.9</li>
    </ul>
    <!-- <title>Fitness Activity</title>
    <ul>
      <li>Steps &gt;7500</li>
      <li>Exercise engagement time &gt;45mins/day</li>
      <li>Smoking - &lt;5</li>
    </ul>
    <title>Diet</title>
    <ul>
      <li>Whole Grain</li>
      <li>Low-fat dairy products</li>
      <li>Fruits & vegetables</li>
      <li>Less Processed or red meat</li>
      <li>Avoid Rich in sugar</li>
      <li>Avoid High in saturated fats</li>
    </ul> -->
  </div>
  <div class="middle_pane">
    <p>Recommendations</p>
    <title>Health vitals</title>
    <ul>
      <li>Blood Pressure :  <p style="color: green;">On Track</p></li>
      <li>Blood glucose - <p style="color: green;">On Track</p></li>
      <li>Triglyceride – <p style="color: #ffd740;">Medium attention</p></li>
      <li>HDL Cholesterol – <p style="color: green;">On Track</p></li>
      <li>BMI  : <p style="color: red;">Requires Attention</p></li>
    </ul>
    <!-- <title>Fitness Activity</title>
    <ul>
      <li>Steps - <p style="color: red;">Requires Attention</p></li>
      <li>Exercise time - <p style="color: red;">Requires Attention</p></li>
      <li>Smoking - <p style="color: green;">On Track</p></li>
    </ul>
    <title>Diet</title>
    <ul>
      <li>Whole Grain - <p style="color: green;">On Track</p></li>
      <li>Low-fat dairy products - <p style="color: #ffd740;">Off track</p></li>
      <li>Fruits & vegetables – <p style="color: green;">On Track</p></li>
      <li>Processed or red meat – <p style="color: #ffd740;">Off track</p></li>
      <li>Rich in sugar - <p style="color: #ffd740;">Off track</p></li>
    </ul> -->
  </div>
  <div class="right_pane">
     <!-- <i class="w_g1"></i> -->
     <img src="/assets/images/wellness_g1.png" alt="" >
     <!-- <i class="w_g2"></i>
     <ul>
       <li>Increase your steps from 6500 to 10000 in this week and maintain at that level., 
         through out the month
         <i class="w_g3"></i>
       </li>
       <li>Your last month's diet shows consumption of canned meat as 40% of your diet. Let's try to this as it is rich in salt (sodium) reduce</li>
     </ul> -->
  </div>
</div>
</ng-container>
<ng-container *ngIf="!showComponent()">
<div class="wellness_page">
    <h2>Advisory overview</h2>
    <div class="left_pane">
      <p>Recommended Ideal Index</p>
      <!-- <title>Health vitals</title>
      <ul>
        <li>Blood Pressure - Normal : &lt;120 | &lt;80</li>
        <li>Blood glucose - Normal : &lt; 100 mg/dl</li>
        <li>Triglyceride - Ideal: &lt;150 mg/dl</li>
        <li>HDL Cholesterol - Normal&lt;40-59 mg/dl</li>
        <li>BMI - Normal weight: 18.5 - 24.9</li>
      </ul> -->
      <title>Fitness Activity</title>
      <ul>
        <li>Steps &gt;7500</li>
        <li>Exercise engagement time &gt;45mins/day</li>
        <li>Smoking - &lt;5</li>
      </ul>
      <title>Diet</title>
      <ul>
        <li>Whole Grain</li>
        <li>Low-fat dairy products</li>
        <li>Fruits & vegetables</li>
        <li>Less Processed or red meat</li>
        <li>Avoid Rich in sugar</li>
        <li>Avoid High in saturated fats</li>
      </ul>
    </div>
    <div class="middle_pane">
      <p>Recommendations</p>
      <!-- <title>Health vitals</title>
      <ul>
        <li>Blood Pressure :  <p style="color: green;">On Track</p></li>
        <li>Blood glucose - <p style="color: green;">On Track</p></li>
        <li>Triglyceride – <p style="color: #ffd740;">Medium attention</p></li>
        <li>HDL Cholesterol – <p style="color: green;">On Track</p></li>
        <li>BMI  : <p style="color: red;">Requires Attention</p></li>
      </ul> -->
      <title>Fitness Activity</title>
      <ul>
        <li>Steps - <p style="color: red;">Requires Attention</p></li>
        <li>Exercise time - <p style="color: red;">Requires Attention</p></li>
        <li>Smoking - <p style="color: green;">On Track</p></li>
      </ul>
      <title>Diet</title>
      <ul>
        <li>Whole Grain - <p style="color: green;">On Track</p></li>
        <li>Low-fat dairy products - <p style="color: #ffd740;">Off track</p></li>
        <li>Fruits & vegetables – <p style="color: green;">On Track</p></li>
        <li>Processed or red meat – <p style="color: #ffd740;">Off track</p></li>
        <li>Rich in sugar - <p style="color: #ffd740;">Off track</p></li>
      </ul>
    </div>
    <div class="right_pane">
       <!-- <i class="w_g1"></i> -->
       <!-- <i class="w_g2"></i> -->
       <img src="/assets/images/wellness_g2.png" alt="">
       <ul>
         <li>Increase your steps from 6500 to 10000 in this week and maintain at that level., 
           through out the month
           <!-- <i class="w_g3"></i> -->
         </li>
         </ul>
         <img src="/assets/images/wellness_g3.png" alt="">
         <ul>
         
         <li>Your last month's diet shows consumption of canned meat as 40% of your diet. Let's try to this as it is rich in salt (sodium) reduce</li>
       </ul>
    </div>
  </div>
  
</ng-container>
</div></div>