.lifestyle {
  margin-top: 50px;
}

#tableheading {
  text-align: center;
  font-weight: bold;
  color: blue;
}

.tableheader {
  text-align: center;
  font-weight: bold;
  color: blue;
}

.table {
  width: 50%;
  margin: 0 auto;
}

table {
  border-bottom: 2px solid lightblue;
  border-top: 2px solid lightblue;
}

thead th {
  border-bottom: 2px solid lightblue;
}

tr {
  color: blue;
}

tbody tr:nth-child(odd) {
  background-color: #d2f1f5;
}

#inference {
  text-decoration: underline;
  font-weight: bold;
  margin: 50px 0px 50px 0px;
}

.inference-text {
  margin: 50px 0px 50px 0px;
}

.jumbo {
  border: 0px solid black;
  margin-top: 5px;
  border-radius: 5px;
}

#disclaimer {
  margin: 70px 0px 0px 0px;
}



.top_pane div, .bottom_pane div {
  display: inline-block;
  background: #fff;
  padding: 20px 30px;
}

.top_pane .details_pane {
  width: 70%;
}

.top_pane .details_pane P {
  padding-right: 30px;
  padding-top: 15px;
}

.top_pane .pic_pane {
  width: 29%;
  vertical-align: top;
  min-height: 287px;
}

.top_pane .pic_pane i {
  background: url("/assets/images/signs.png");
  width: 240px;
  height: 170px;
  display: inline-block;
}

.top_pane .pic_pane p {
  padding-left: 24px;
  font-size: 20px;
  padding-top: 15px;
  color: darkblue;
}

.page_3 .bottom_pane {
  margin-top: 10px;
}

.page_3 .bottom_pane div {
  vertical-align: top;
  min-height: 225px;
}

.bottom_pane div title {
  display: block;
  text-decoration: underline;
  color: darkblue;
  padding-bottom: 10px;
}

.bottom_pane div.health {
  width: 30%;
}

.bottom_pane div.nutrient {
  width: 30%;
}

.bottom_pane div.food {
  width: 30%;
}

.bottom_pane div.nutrient table, 
.bottom_pane div.food table {
  font-size: 11px;
  border-collapse: separate;
  border-spacing: 10px;
  display: inline-block;
  vertical-align: top;
}

.nutrient i, .food i {
  background: url("/assets/images/genomics_icons.png");
  width: 35px;
  height: 25px;
  display: block;
  margin-bottom: 5px;
}

.second-table {
  padding-top: 20px;
}

.folic i { background-position: 0px 27px; }
.b12 i { background-position: -23px 0px; }
.vd i { background-position: -80px 0px; }
.omega i { background-position: -108px 0px; }
.anti i { background-position: -140px 0px; }
.srf i { background-position: -175px 0px; }
.crf i { background-position: -205px 0px; }
.alc i { background-position: -240px 0px; }
.caf i { background-position: -268px 0px; }
.sfa i { background-position: -305px 0px; }
