<div class="container-fluid" style="margin-top:25px;">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" style="width:35%;">
        <li role="presentation">
          <a [routerLink]="['/home/health-vitals']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Health Vitals</a>
        </li>
        <li role="presentation">
          <a [routerLink]="['/home/lifestyle']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">LifeStyle</a>
        </li>
        <li role="presentation">
          <a [routerLink]="['/home/genomics']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Genomics</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 example-large-box">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
